<header>
  <div class="header-content main-header">
    <h1>About</h1>
    <hr>
  </div>
</header>


<h3>Rooms</h3>

<div id="rd1" class="row">
	<div class="col-md-8">The Purple Fox Karaoke Pub has 10 rooms available
	 to book, all of which come equipped with iPads and microphones. 2 of the rooms
 	accommodate 2 people (Fox Double), 3 rooms accommodate 4 people (Fox Quad), 3 rooms 
	accommodate 8 people (Fox Grande), and 2 rooms accommodate 12 people (Fox Enorme).
	 The user can book a room for a specific time and specify the number of people who will 
	accommodate the room. 
	Groups can only book a room that is the same size as their group, unless there are no
	more rooms that accomidate their group size. In which case, they can book a room one 
	size larger, but must purchase the room at full price.</div>
	<div class="col-md-4"></div>
</div>

<h3>Equipment</h3>

<div id="rd2" class="row">-The Fox Double is equipped with 1 microphone and 1 Apple iPad</div>

<div id="rd2" class="row">-The Fox Quad comes equipped with 2 microphones and 2 Apple iPads</div>

<div id="rd2" class="row">-The Fox Grande comes equipped with 4 microphones and 4 Apple iPads</div>

<div id="rd2" class="row">-The Fox Énorme comes equipped with 6 microphones and 6 Apple iPads</div>

<p></p>
<div id="rd1" class="row">
	<div class="col-md-8">Each room has the fixed number of equipment, but patrons can 
	purchase additional accessories during the time of their booking. The equipments include
	 10 microphones and 10 iPads that can be booked on a first-come, first-serve basis.</div>
	</div>

<h3>Booking</h3>

-Can be booked Monday thru Thursday 4pm to 1 am

-Friday thru Sunday, 2 pm to 2 am


Bookings can only be done once a user creates an account, and it is here that they can
store their personal information, such as credit card number, and contant information, and
as well view and edit their bookings. Once logged in, the user can view a calender of 
available bookings, from which they can choose a room to book, or see which rooms they've
booked.

Cancellations:

Cancellations that are made 4 hours before the a scheduled appointment will prevent the
user from booking another room for 12 hours.
