
<header>
  <div class="header-content main-header">
    <h1>Admin</h1>
    <hr>
  </div>
</header>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">

    <div class="row">

      <div class="col-xs-8 sch-people">
        <div class="form-group">
          <label class="col-xs-5 control-label">
            Room
          </label>
          <div class="col-xs-7">
            {{view "select" id="sch-num-people" class="form-control" content=room_options value=selected_room optionLabelPath="content.name"}}
          </div>
        </div>
      </div>

      <div class="col-xs-5 sch-cal">
        <div class="form-group">
          {{bootstrap-datepicker placeholder="Click to play" class="form-control" value=date}}
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">

    <h3>Current Disabled Rooms</h3>
  </div>
</div>

