
<header>
  <div class="header-content main-header">
    <h1>Change Password</h1>
    <hr>
  </div>
</header>

<body>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="usr">
    <button type="button" class="btn btn-default">Reset Password</button>
  </div><!-- Form -->
</body>
