
<header>
  <div class="header-content main-header">
    <h1>Change Password</h1>
    <hr>
  </div>
</header>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">

    <form {{action 'createSession' on='submit'}} id="login-form">
      <div class={{if error_username 'form-group has-error' 'form-group'}}>
        <label for="inputUsername">New Password</label>
        {{input type="text" class="form-control" placeholder="Password" value=new_password}}
      </div>

      <button type="submit" class="blue-button btn btn-default" {{action 'changePassword'}}>Change</button>
    </form>
  </div>
</div>
