<footer class="footer">
    <div class="container-fluid">
        <p>
            Created by UVIC SENG 299 Group 3. Source found <a href="https://github.com/coffee-cup/seng299_group3">here.</a>
        </p>
    </div>
</footer>
