<header>
  <div class="header-content main-header">
    <h1>{{user.name}}'s Bookings</h1>
    <hr>
  </div>
</header>
<ul id="bookingTabs" class="nav nav-tabs">
  <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
  <li><a href="#past" data-toggle="tab">Past</a></li>
</ul>
<body>

  <div id="myTabContent" class="tab-content">

    <div align="center" class="tab-pane in active row" id="current">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        {{#each current_bookings as |booking|}}
        {{#booking-grid booking=booking}}{{/booking-grid}}
        {{/each}}
      </div>
    </div>

    <div align="center" class="tab-pane row" id="past">
      <div class="col-sm-12 col-md-5">
        {{#each past_bookings as |booking|}}
        {{#booking-grid booking=booking}}{{/booking-grid}}
        {{/each}}
      </div>
    </div>
  </div>
</body>
