<header>
  <div class="header-content main-header">
    <h1>My Bookings</h1>
    <hr>
  </div>
</header>
<ul class="nav nav-tabs">
  <li class="active"> 
    <a data-toggle="tab">Current</a>
  </li>
  <li>
  	<a data-toggle="tab">Past</a>
  </li>
</ul>