
<header>
  <div class="header-content main-header">
    <h1>Profile</h1>
    <hr>
  </div>
</header>

<b>Username</b> - {{user.username}} <br>
<b>Name</b> - {{user.name}} <br>
<b>accountID</b> - {{user.accountID}} <br>

