This is the index page

{{#link-to 'about'}}
    about
{{/link-to}}

<br>

<button type="button" class="btn btn-default" aria-label="Left Align">
  Hello
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>

